figure {
opacity: 0;
transition: opacity 1s;
}

figure.visible {
opacity: 1;
}

p{
    color: #4d4d4d;
}
#project1{
	width: 85%;
}

.description{
	padding-top: 50px;
}

.button-skills{
    padding: 5px;
}
.skills{
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 20px;
	background-color: white;
	border-color: #0059b3;
	color: #0059b3;
	border-width: 2px;
}

.skills.abled{
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 20px;
	background-color: #0059b3;
	border-color: #0059b3;
	color: white;
}

.skills.abled:hover{
	box-shadow: 0 0 10px  rgba(0,0,0,0.5);
}

/* [1] The container */
.img-hover-zoom {
  /*height: 300px;  [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.2);
}

#college{
    font-size: 25px;
}

#college img{
    width: 25px;
}
#degree{
    font-size: 20px;
}

.class-list{
    padding:30px;
}

@media (min-width: 1000px) {
    #test p {
    	text-shadow: 2px 2px 8px #dedede;
        font-size: 5vw;
        color: white;
        padding-left: 10%;
        padding-top: 25%;
        animation: fadein 3s;
        -moz-animation: fadein 3s; /* Firefox */
        -webkit-animation: fadein 3s; /* Safari and Chrome */
        -o-animation: fadein 3s; /* Opera */
    }
    .carousel{
        padding: 20px;
    }
    .carousel img{
        height: 450px;
    }
}


@media (max-width: 1000px){
    #test p {
        text-shadow: 2px 2px 8px #dedede;
        font-size: 6vw;
        color: white;
        padding-left: 10%;
        padding-top: 5%;
        animation: fadein 3s;
        -moz-animation: fadein 3s; /* Firefox */
        -webkit-animation: fadein 3s; /* Safari and Chrome */
        -o-animation: fadein 3s; /* Opera */
    }
    .carousel{
        padding: 10px;
    }
    .carousel img{
        height: 200px;

    }
    h1 {
        font-size: 1.8em;
    }
    h4{
        font-size: 1.5em;
    }
    h5{
        font-size: 1.2em;
    }
    p {
        font-size: 15px;
    }
    #livingclassrooms{
        height: auto;
    }

    .skills{

        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 16px;
        padding-left: 16px;
        border-radius: 15px;
        background-color: white;
        border-color: #0059b3;
        color: #0059b3;
        border-width: 1px;
    }

    .skills.abled{
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 16px;
        padding-left: 16px;
        border-radius: 15px;
        background-color: #0059b3;
        border-color: #0059b3;
        color: white;
    }

    #college{
        font-size:15px;
    }
    #college img{
        width: 15px;
    }

    #degree{
        font-size: 13px;
    }

    .class-list{
        padding:20px;
        font-size: 15px;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

h4{
	padding: 20px;
}

.education{
	padding: 10px;
}

















